mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
    img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin socials(modClassName, items)
    ul.socials(class=(modClassName === '') ? '' : `socials--${modClassName}`)
        each val, item in items
            li(class=`socials__item`)
                a(class=`socials__link` href=`${val}` target="_blank")
                    +icon(item, `socials__icon socials__icon--${item}`)

mixin nav(className, items, activeItem)
    nav(class=className)
        ul(class=`${className}__list`)
            each item, i in items
                -var modClassName= ''
                if (item.class)
                    each modClass in item.class
                        - modClassName += ` ${className}__item--${modClass}`
                li(class=`${className}__item` + modClassName + (i === activeItem ? ' is-active' : ''))
                    a(class=`${className}__link` href=`${item.href ? item.href : '#'}`)= item.name